*{
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
.container
{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-grow: 1;
    flex-shrink: 1;
    flex-wrap: wrap;
    min-width: 250px;
}
.box1
{
    width: 300px;
    height: 500px;
    border: 2px solid black;
}
.box2
{
    width: 300px;
    height: 500px;
    border: 2px solid black
}
.box3
{
    width: 300px;
    height: 500px;
    border: 2px solid black;
}
.box4
{
    width: 300px;
    height: 500px;
    border: 2px solid black;
}
.icon
{
    padding: 5px;
    font-size: 15px;
    text-align: center;
}
p
{
    text-align: center;
    font-size: 15px;
    padding: 10px;
}
img
{
    padding: 10px 15px;
}
button
{
    padding: 10px 10px;
    text-align: center;
    margin-left: 130px;
    margin-top: 30px;    
}
h2 h5
{
    margin-bottom: 0;
    word-wrap: break-word;
    max-width: 100%;
}

#section1 .para
{
    margin-bottom: 0;
    word-wrap: break-word;
    max-width: 100%;
    font-family: inherit;
    letter-spacing: 0em;
    color: #333;
    font-size: 16px;
    font-weight: 400;
}